/*.suo
utils/migrate-live.bat
Zuul.BusinessLogic/bin/
Zuul.BusinessLogic/obj/
Zuul.Data/bin/
Zuul.Data/obj/
Zuul.Migrations/bin/
Zuul.Migrations/obj/
Zuul.Model/bin/
Zuul.Model/obj/
Zuul.Resources/bin/
Zuul.Resources/obj/
Zuul.Web/bin/
Zuul.Web/obj/
Zuul.Web.Azure/obj
Zuul.Web.Azure/bin
Zuul.Web.Azure/csx
Zuul.Web.Azure/rcf
